.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;

    @media (max-width: $breakpoint1450) {
        max-width: 1200px;
    }

    @media (max-width: $breakpoint992) {
        max-width: 970px;
    }

    @media (max-width: $breakpoint768) {
        max-width: 740px;
    }

    @media (max-width: $breakpoint480) {
        max-width: none;
    }
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #3a0766
        linear-gradient(180deg, #1a0064, #3f0e65 6.77%, #1a022d 15.62%, #0a0028 39.58%, #080220 64.58%, #350759 91.67%)
        fixed;
    font-family: $fontMain;
    &.locked {
        overflow: hidden;
    }
}
